:root {
    --secondary-font-family: "Montserrat", sans-serif;
    --heading-font-family: "Belleza", sans-serif;
    --branding-font-family: "Cormorant Garamond", serif; 
    --branding-color: rgb(44, 26, 1);
}

body {
    font-family: 'Belleza', sans-serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Montserrat', sans-serif;
height: 100%;
margin: 0;
}

.navbar {
    font-family: var(--heading-font-family);
    font-weight: bold;
}

.hero-image {
    background-image: url("/images/Hot_Rice_9.jpg");
    background-color: lightgray;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 480px;
    /* margin: 0 auto;
    display: block;
    padding: 480px;
    color: white;
    height: 100%;
    width: 100%;
    max-width: 100%; */
}


/* .profile-info .container {
   text-align: left;
   padding: 125px, 125px;
   margin: 125px, 125px;
} */

.hero-text {
    font-family: var(--heading-font-family);
    text-align: left;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text h1 { 
    font-size: 65px;
    text-shadow: 2px 2px black;
}

.hero-text h2 { 
    font-size: 42px;
    text-shadow: 2px 2px black;
}

.hero-text p {
    font-family: var(--secondary-font-family);
    text-shadow: 2px 2px black;
}


.branding {
    /* background-color: rgb(92, 90, 90); */
    background-color: burlywood;
    color: rgb(44, 26, 1);
    vertical-align: text-top;
}

.branding p {
    font-size: 45px;
    font-weight: lighter;
    font-family: var(--branding-font-family);

}

.btn-primary {
    font-family: var(--branding-font-family);
    font-size: 20px;
    font-weight: 550;
    background-color: burlywood;
    border: 1px solid rgb(214, 175, 124);
    /* color: rgb(134, 99, 52); */
    color: rgb(59, 38, 7);
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color: rgb(44, 26, 1);
    border: rgb(59, 38, 7);
    color: burlywood;
    text-decoration: none;
}

h2 {
    font-family: var(--heading-font-family);
}

h4 {
    font-family: var(--heading-font-family);
    text-transform: uppercase;
    font-size: 20px;

}

h5 {
    font-family: var(--heading-font-family); 
}

h6 {
    font-family: var(--heading-font-family); 
}

p {
    font-family: var(--secondary-font-family);
    font-weight: normal;
    font-size: 17px;
}

a {
    color:rgb(197, 66, 55);
    text-decoration: none;
}

a:hover {
    color:rgb(59, 38, 7);
    text-decoration: underline;
}


.profile-content-container {
    padding: 55px 20px 40px;
    margin-top: 50px;
}

.profile-content-container h2 {
    font-family: var(--heading-font-family);
    line-height: 0.5;
}

.profile-content-container h4 {
    font-family: var(--heading-font-family);
}

.profile-pic {
    border: 1px #EAE7D4 solid;
    border-radius: 15px;
    display: block;
    margin: 0;
}

.disclaimer {
    font-size: small;
    text-align: justify;
}

.about-content {
    background-image: url("/images/Hot_Rice_8.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-color: lightgray;
    margin: 0 auto;
    display: block;
    padding: 375px;
}

.branding p {
    font-family: var(--heading-font-family);
}

.buyers h4 {
    text-align: center;
}

.sellers h4 {
    text-align: center;
}

.recipients {
    text-align: center;
}

.quote {
    background-color: burlywood;
    color: rgb(44, 26, 1);
    vertical-align: text-top;
}

.imgContainer-buyer {
    height: 210px;
    width: 306px;
}

.imgContainer-seller {
    height: 240px;
    width: 416px;
}

blockquote {
    padding-right: 75px;
    margin: 0;
    
}

blockquote p {
    padding: 25px 35px;
    background: burlywood;
    border-radius: 5px;
    text-align: justify;
}

.nav-links {
    margin-top: 125px;
}


.vr {
    text-align: right;
}


.imgContainer-brand {
    height: 116px;
    width: 150px;
}

.imgContainer-mlslogo {
    height: 45px;
    width: 140px;
}

.imgContainer-teamlogo {
    height: 65px;
    width: 165px;
}

.social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    background: white;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

.social-links a:hover {
    color: var(--branding-color);
    background: burlywood;
    border: 1px solid var(--branding-color);
};

.contact-info p {
    font-size: 14px;
}

/* body .about-hero {
    height: 100%
} */

/* .about-hero {
    background-image: url("/images/Hot_Rice_8.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightgray;
    margin: 0 auto;
    display: block;
    padding: 125px;  
} */

/* .about-hero h2 {
    margin-top: 285px;
    color: red;
} */


/* .about-content {
    padding: 30px 175px;
} */


@media screen and (max-width: 760px) { 

    
    .body {
        max-width: 100%;
        height: auto;   
    }

    .navbar .container-fluid {
        display: flex;
        justify-content: flex-start;
    }

    .hero-image {
        background-image: url("/images/Hot_Rice_9B-1.jpg");
        max-width: 50%;
        width: 200px;
        /* height: 1000px; */
        /* height: 100%; */
        padding-top: 560px;
        padding-left: 230px;
        padding-bottom: 230px;
        position: relative;
        z-index: 10;
        overflow-x: hidden;
    }

    .hero-text { 
        top: 100%;
        left: 25%;
    }

     .hero-text h1  {
         font-size: 50px;
     }

     .hero-text h2 {
        font-size: 32px;
    }

    
     .profile-content-container {
         text-align: center;
     }

     .branding {
         text-align: center;
     }

     .branding p {
         text-align: center;
         padding: 0px;
     }
     
     figure {
         display: block;
         margin: auto;
     }

     figure blockquote p {
         padding-left: 75px;
         padding-right: 5px;
     }


     .buyers img {
         max-width: 100%;
         height: auto;
     } 
}

